<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity5">
<head>
    <meta charset="UTF-8">
    <title>New order page</title>
    <link href="/style/style.css" rel="stylesheet">
</head>
<body>
<header>
    <h1>
        <center> Car rental for every day </center>
    </h1>
    <center> <img src="/images/header.jpg"/> </center>
    <h3>
        <div align="right">
            <a sec:authorize="!isAuthenticated()" th:href="@{/login}">Login</a>
        </div>
        <div align="right">
            <a href="/logout" sec:authorize="isAuthenticated()"> Logout </a>
        </div>
        <div align="right">
            <a sec:authorize="!isAuthenticated()" th:href="@{users/registration}">Registration</a>
        </div>
        <div align="right">
            <a sec:authorize="isAuthenticated() and !hasRole('ADMIN')" th:href="@{/users/account}" th:text="${#authentication.getPrincipal().getUsername()}+ ' ' +account"> User account </a>
        </div>
        <div align="right">
            <a th:href="@{/admin/orders?statusId=7}" sec:authorize="hasRole('ADMIN')"> For admins </a>
        </div>
    </h3>
</header>
<h3>
    <main>
    <p th:if="${timeIsEmpty}" style="color:red" th:text="${timeIsEmpty}"></p>
    <p th:if="${wrongRentalDate}" style="color:red" th:text="${wrongRentalDate}"></p>
    <form th:method="POST" th:action="@{/orders/new}">
        <input type="hidden" name="id" th:value="${id}"/>
        <label for="rentalStart"> Select rental start date and time: </label>
        <input type="datetime-local" name="rentalStart" id="rentalStart"/>
        <br/>
        <label for="rentalEnd"> Select rental end date and time: </label>
        <input type="datetime-local" name="rentalEnd" id="rentalEnd"/>
        <br/>
        <input type="submit" value="Create new order"/>
    </form>
        <p/>
        <center>
     <a th:href="@{/car?id={id}(id=${id})}">Back to car</a>
        <a th:href="@{/}"> To main page </a>
        </center>
</main>
</h3>
</body>
</html>