<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity5">
    <head>
    <meta charset="UTF-8">
    <title>payment page</title>
        <link href="/style/style.css" rel="stylesheet">
    </head>
    <body>
    <header>
        <h1>
            <center> Car rental for every day </center>
        </h1>
        <center> <img src="/images/header.jpg"/> </center>
        <h3>
            <div align="right">
                <a sec:authorize="!isAuthenticated()" th:href="@{/login}">Login</a>
            </div>
            <div align="right">
                <a href="/logout" sec:authorize="isAuthenticated()"> Logout </a>
            </div>
            <div align="right">
                <a sec:authorize="!isAuthenticated()" th:href="@{users/registration}">Registration</a>
            </div>
            <div align="right">
                <a sec:authorize="isAuthenticated() and !hasRole('ADMIN')" th:href="@{/users/account}" th:text="${#authentication.getPrincipal().getUsername()}+ ' ' +account"> User account </a>
            </div>
            <div align="right">
                <a th:href="@{/admin/orders?statusId=7}" sec:authorize="hasRole('ADMIN')"> For admins </a>
            </div>
        </h3>
    </header>
        <h2> Payment confirmed, your order will be processed shortly </h2>
        <div>
            <h3>
                <center>
                <a  th:href="@{/users/account}">To account </a>
                <a th:href="@{/}"> To main page </a>
                </center>
            </h3>
        </div>
    </body>
</html>