<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity5">
<head>
    <meta charset="UTF-8">
    <title>Order</title>
    <link href="/style/style.css" rel="stylesheet">
</head>
<body>
<header>
    <h1>
        <center> Car rental for every day </center>
    </h1>
    <center> <img src="/images/header.jpg"/> </center>
    <h3>
        <div align="right">
            <a sec:authorize="!isAuthenticated()" th:href="@{/login}">Login</a>
        </div>
        <div align="right">
            <a href="/logout" sec:authorize="isAuthenticated()"> Logout </a>
        </div>
        <div align="right">
            <a sec:authorize="!isAuthenticated()" th:href="@{users/registration}">Registration</a>
        </div>
        <div align="right">
            <a sec:authorize="isAuthenticated() and !hasRole('ADMIN')" th:href="@{/users/account}" th:text="${#authentication.getPrincipal().getUsername()}+ ' ' +account"> User account </a>
        </div>
        <div align="right">
            <a th:href="@{/admin/orders?statusId=7}" sec:authorize="hasRole('ADMIN')"> For admins </a>
        </div>
    </h3>
</header>
<main>
    <table border="2" bordercolor="black" bgcolor="LightGrey" >
        <h3>
            <tr>
                <td> Order number:</td> <td><span style="color:navy" th:text="${order.getId()}"></span> </td>
            </tr>
            <tr >
                <td> Order status:</td> <td><span style="color:navy" th:text="${order.getOrderStatus().getName()}"></span> </td>
            </tr>
            <tr th:if="${order.getEmployeeName()} != null" >
                <td> Employee: </td> <td> <span style="color:navy" th:text="${order.getEmployeeName()}"></span> </td>
            </tr>
            <tr>
                <td> Order creation: </td> <td> <span style="color:navy" th:text="${order.getOrderDate().toLocalDate()}+ ' ' +${order.getOrderDate().toLocalTime()}"></span> </td>
            </tr>
            <tr>
                <td> Rental start: </td> <td> <span style="color:navy" th:text="${order.getRentalStart().toLocalDate()}+ ' ' +${order.getRentalStart().toLocalTime()}"></span> </td>
            </tr>
            <tr>
                <td> Rental end: </td> <td> <span style="color:navy" th:text="${order.getRentalEnd().toLocalDate()}+ ' ' +${order.getRentalEnd().toLocalTime()}"></span> </td>
            </tr>
            <tr>
                <td> Car mark and model: </td> <td><span style="color:navy" th:text="${order.getCar().getMark()}"></span>  </td>
            </tr>
            <tr>
                <td> Car model: </td> <td><span style="color:navy" th:text="${order.getCar().getModel()}"></span>  </td>
            </tr>
            <tr>
                <td> Payment value: </td> <td> <span style="color:navy" th:text="${order.getPaymentValue}"></span> </td>
            </tr>
            <tr>
                <td> Username:</td> <td><a th:href="@{/admin/user?username={name}(name=${order.getUser().getUsername()})}" th:text="${order.getUser().getUsername()}"></a></td>
            </tr>
        </h3>
    </table>
<h3><div th:each="repairPayment : ${order.getRepairPayments()}">
     Repair payment number: <a th:href="@{/repair_payment/details/?id={id}(id=${repairPayment.getId()})}" th:text="${repairPayment.getId()}" >payment</a>
</div> </h3>

<p><div th:if="${order.getOrderStatus().getId()} eq '7'">
    <form th:method="POST" th:action="@{/admin/order}">
        <input type="hidden" name="order" th:value="${order.getId()}">
        <input type="hidden" name="status" th:value="2">
        <button>To "approve" status</button>
    </form> </p>
    <p> <form th:method="POST" th:action="@{/admin/order}">
        <input type="hidden" name="order" th:value="${order.getId()}">
        <input type="hidden" name="status" th:value="8">
        <input type="hidden" name="car" th:value="${order.getCar().getId()}">
        <input type="hidden" name="carStatus" th:value="1">
        <button>To "reject" status</button>
    </form></p>
</div>
<div th:if="${order.getOrderStatus().getId()} eq '2'">
    <p> <form th:method="POST" th:action="@{/admin/order}">
        <input type="hidden" name="order" th:value="${order.getId()}">
        <input type="hidden" name="status" th:value="3">
        <button>To "active" status</button>
    </form></p>
</div>
<div th:if="${order.getOrderStatus().getId()} eq '3'">
    <form th:method="POST" th:action="@{/admin/order}">
        <input type="hidden" name="order" th:value="${order.getId()}">
        <input type="hidden" name="status" th:value="4">
        <input type="hidden" name="car" th:value="${order.getCar().getId()}">
        <input type="hidden" name="carStatus" th:value="1">
        <button>To "completed" status</button>
    </form>
</div>
<div th:if="${order.getOrderStatus().getId()} eq '5'">
    <form th:method="POST" th:action="@{/admin/order}">
        <input type="hidden" name="order" th:value="${order.getId()}">
        <input type="hidden" name="status" th:value="4">
        <button>From "incident" to "completed" status</button>
    </form>
</div>
<div th:if="${order.getOrderStatus().getId()} eq '3'">
    <p> <form th:method="POST" th:action="@{/admin/order}">
        <input type="hidden" name="order" th:value="${order.getId()}">
        <input type="hidden" name="status" th:value="5">
        <button>To "incident" status</button>
    </form></p>
</div>
</div>
<div th:if="${order.getOrderStatus().getId()} eq '5'">
    <p> <form th:method="GET" th:action="@{/repair_payment/new}">
    <input type="hidden" name="order" th:value="${order.getId()}">
    <button>Add repair payment</button>
</form></p>
</div>
    <h3>
    <table th:if="${order.getOrderInfo() != ' '}" border="2" bordercolor="black" width="20%">
        <tr>
            <td> Order info: </td> <td><pre style="color:navy" th:text="${order.getOrderInfo()}"></pre>  </td>
        </tr>
    </table>
    </h3>
<p><form th:action="@{/admin/order/info}" th:method="POST">
    <p><textarea rows="12" cols="35" name="info" placeholder="Add new order info" ></textarea></p>
    <input type="hidden" name="order" th:value="${order.getId()}">
    <p><button>Add info </button></p>
</form></p>

<h3>
    <center>
    <a th:href="@{/admin/orders?statusId=7}+ ' '"> Back to orders </a>
        <p/>
    <a th:href="@{/}"> To main page </a>
    </center>
</h3>
</main>
</body>
</html>