<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns="http://www.w3.org/1999/html">
<head>
    <meta charset="UTF-8">
    <title>Orders</title>
    <link href="style.css" rel="stylesheet">
</head>
<body>
<h3>
    <p th:if="${orderNotFound}" style="color:red" th:text="${orderNotFound}"></p>
    <p th:if="${EmptyNumber}" style="color:red" th:text="${EmptyNumber}"></p>
    <div th:each="order : ${orders}">
        <a th:href="@{/admin/order?id={id}(id=${order.getId()})}" th:text="${order.getId()}">order</a>
    </div>
    <form th:method="GET" th:action="@{/admin/order}" >
        <input type="text" placeholder="order number" name="id" id="id">
        <input type="submit" value="Find by order number"/>
    </form>
    <form th:method="GET" th:action="@{/admin/orders}">
        <select name="statusId" id="statusId">
            <option value="10">Select order status</option>
            <option th:each="status : ${statuses}" th:value="${status.getId()}" th:text="${status.getName()}"></option>
            <option value="0" th:text="all"></option>
        </select>
        <button>Filter</button>
    </form>
    <p><div>
        <a th:href="@{/}"> To main page </a>
    </div></p>
</h3>
</body>
</html>