<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity5">
<head>
    <meta charset="UTF-8">
    <title>Home page</title>
    <link href="/style/style.css" rel="stylesheet">
</head>
<body>
<header>
    <h1>
        <center> Car rental for every day </center>
    </h1>
    <center> <img src="/images/header.jpg"/> </center>
    <h3>
        <div align="right">
            <a sec:authorize="!isAuthenticated()" th:href="@{/login}">Login</a>
        </div>
        <div align="right">
            <a href="/logout" sec:authorize="isAuthenticated()"> Logout </a>
        </div>
        <div align="right">
            <a sec:authorize="!isAuthenticated()" th:href="@{users/registration}">Registration</a>
        </div>
        <div align="right">
            <a sec:authorize="isAuthenticated() and !hasRole('ADMIN')" th:href="@{/users/account}" th:text="${#authentication.getPrincipal().getUsername()}+ ' ' +account"> User account </a>
        </div>
        <div align="right">
            <a th:href="@{/admin/orders?statusId=7}" sec:authorize="hasRole('ADMIN')"> For admins </a>
        </div>
    </h3>
</header>
<h3>
<main>
    <p> Mark: <b> <span style="color:navy" th:text="${car.getMark()}"> car </span></b></p>
    <p> Model: <b> <span style="color:navy" th:text="${car.getModel()}"> car </span></b></p>
    <p> Rental price per hour: <b> <span style="color:navy" Rental price per hour th:text="${car.getCostForOneHour()}"> car </span></b></p>
    <p> Car status: <b> <span style="color:navy" th:text="${car.getCarStatus().getName()}"> car </span></b></p>
    <div th:if="${car.getCarStatus().getId()} eq '1'">
    <a sec:authorize="!hasRole('ADMIN')" th:href="@{/orders/new?id={id}(id=${car.getId()})}">Select and create new order</a>
    </div>
    <div th:if="${car.getCarStatus().getId()} eq '3'">
        <form sec:authorize="hasRole('ADMIN')" th:method="POST" th:action="@{/car}">
            <input type="hidden" name="car" th:value="${car.getId()}">
            <input type="hidden" name="carStatus" th:value="1">
            <button>To "free" status</button>
        </form>
    </div>
    <p/>
    <center>
    <a th:href="@{/cars?statusId=0}"> Cars for selection </a>
    <a th:href="@{/}"> To main page </a>
    </center>
</main>
    </h3>
</body>
</html>