<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity5">
<head>
    <meta charset="UTF-8">
    <title> Account </title>
    <link href="/style/style.css" rel="stylesheet">
</head>
<body>
<header>
    <h1>
        <center> Car rental for every day </center>
    </h1>
    <center> <img src="/images/header.jpg"/> </center>
    <h3>
        <div align="right">
            <a sec:authorize="!isAuthenticated()" th:href="@{/login}">Login</a>
        </div>
        <div align="right">
            <a href="/logout" sec:authorize="isAuthenticated()"> Logout </a>
        </div>
        <div align="right">
            <a sec:authorize="!isAuthenticated()" th:href="@{users/registration}">Registration</a>
        </div>
        <div align="right">
            <a sec:authorize="isAuthenticated() and !hasRole('ADMIN')" th:href="@{/users/account}" th:text="${#authentication.getPrincipal().getUsername()}+ ' ' +account"> User account </a>
        </div>
        <div align="right">
            <a th:href="@{/admin/orders?statusId=7}" sec:authorize="hasRole('ADMIN')"> For admins </a>
        </div>
    </h3>
</header>
<main>
<h2> Profile data:</h2>
    <h3>
    <table border="2" bordercolor="black">
        <tr>
            <td  th:text="'Username:'+ ' ' +${user.getUsername()}"></td>
        </tr>
        <tr>
    <td   th:text="'Firstname:'+ ' ' +${user.getFirstname()}"></td>
        </tr>
        <tr>
    <td   th:text="'Surname:'+ ' ' +${user.getSurname()}"></td>
        </tr>
        <tr>
    <td    th:text="'Passport number:'+ ' ' +${user.getPassportNumber()}"></td>
        </tr>
        <tr>
    <td   th:text="'Email:'+ ' ' +${user.getEmail()}"></td>
        </tr>
    </table>

        <form  sec:authorize="hasRole('USER')" th:method="GET" th:action="@{/users/account/edit}">
        <input type="hidden" name="id" th:value="${user.getId()}">
        <button>Edit profile</button>
        </form>
    </h3>
<h2> My orders:</h2>
<div th:each="orders : ${orders}">
    <table border="2" bordercolor="black" bgcolor="LightGrey" width="15%">
        <h3>
        <tr>
            <td> <span   th:text="Number+ ' ' +${orders.getId()}"></span> </td>
        </tr>
        <tr>
            <td> <span  th:text="'From'+ ' ' +${orders.getOrderDate().toLocalDate()}"></span> </td>
        </tr>
        <tr>
            <td> <span   th:text="'Order status is'+ ' ' +${orders.getOrderStatus().getName()}"></span></td>
        </tr>
        </tr>
            <td> <a th:href="@{/admin/order?id={id}(id=${orders.getId()})}">Open the order</a> </td>
        </tr>
            </h3>
    </table>
    <p/>
</div>
    <h3>
    <center>
        <a th:href="@{/}"> To main page </a>
    </center>
    </h3>
    </main>
</body>
</html>
