<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Login page</title>
    <link href="style.css" rel="stylesheet">
</head>
<body>

<form th:method="POST" th:action="@{/users/login}">
    <label for="username"> Enter username: </label>
    <input type="text" th:placeholder="username" id="username">
    <br/>
    <label for="password"> Enter password: </label>
    <input type="text" th:placeholder="password1" id="password"/>
    <br/>
    <input type="submit" value="Log in"/>
    <br/>
    <h4><a th:href="@{/registration}">Create new user</a></h4>
</form>
</body>
</html>