<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity5">
<head>
    <meta charset="UTF-8">
    <title> Order page</title>
    <link href="/style/style.css" rel="stylesheet">
</head>
<body>
<header>
    <h1>
        <center> Car rental for every day </center>
    </h1>
    <center> <img src="/images/header.jpg"/> </center>
    <h3>
        <div align="right">
            <a sec:authorize="!isAuthenticated()" th:href="@{/login}">Login</a>
        </div>
        <div align="right">
            <a href="/logout" sec:authorize="isAuthenticated()"> Logout </a>
        </div>
        <div align="right">
            <a sec:authorize="!isAuthenticated()" th:href="@{users/registration}">Registration</a>
        </div>
        <div align="right">
            <a sec:authorize="isAuthenticated() and !hasRole('ADMIN')" th:href="@{/users/account}" th:text="${#authentication.getPrincipal().getUsername()}+ ' ' +account"> User account </a>
        </div>
        <div align="right">
            <a th:href="@{/admin/orders?statusId=7}" sec:authorize="hasRole('ADMIN')"> For admins </a>
        </div>
    </h3>
</header>
<main>
    <table border="2" bordercolor="black" bgcolor="LightGrey" >
        <h3>
                <tr>
                    <td> Order number:</td> <td><span style="color:navy" th:text="${order.getId()}"></span> </td>
                </tr>
                <tr>
                    <td> Order status:</td> <td><span style="color:navy" th:text="${order.getOrderStatus().getName()}"></span> </td>
                </tr>
                <tr>
                    <td> Order creation: </td> <td> <span style="color:navy" th:text="${order.getOrderDate().toLocalDate()}+ ' ' +${order.getOrderDate().toLocalTime()}"></span> </td>
                </tr>
                <tr>
                    <td> Rental start: </td> <td> <span style="color:navy" th:text="${order.getRentalStart().toLocalDate()}+ ' ' +${order.getRentalStart().toLocalTime()}"></span> </td>
                </tr>
                <tr>
                    <td> Rental end: </td> <td> <span style="color:navy" th:text="${order.getRentalEnd().toLocalDate()}+ ' ' +${order.getRentalEnd().toLocalTime()}"></span> </td>
                </tr>
                    <tr>
                    <td> Car mark and model: </td> <td><span style="color:navy" th:text="${order.getCar().getMark()}"></span>  </td>
                </tr>
                <tr>
                    <td> Car model: </td> <td><span style="color:navy" th:text="${order.getCar().getModel()}"></span>  </td>
                </tr>
                <tr>
                    <td> Payment value: </td> <td> <span style="color:navy" th:text="${order.getPaymentValue}"></span> </td>
                </tr>
                <tr>
                    <td> Username: </td> <td> <span style="color:navy" th:text="${order.getUser().getUsername()}"></span> </td>
                </tr>
            </h3>
    </table>
    <h3>
        <div th:each="repairPayment : ${order.getRepairPayments()}">
            Repair payment number: <a th:href="@{/repair_payment/details/?id={id}(id=${repairPayment.getId()})}" th:text="${repairPayment.getId()}" target="_blank">payment</a>
        </div>
    </h3>
    <h3>
        <div th:if="${order.getOrderStatus().getId()} eq '1'">
            <form th:action="@{/orders/payment}">
                <input type="hidden" name="order" th:value="${order.getId()}">
                <input type="hidden" name="status" th:value="7">
                <input type="hidden" name="car" th:value="${order.getCar().getId()}">
                <input type="hidden" name="carStatus" th:value="2">
                <button type="submit"> Pay the Order </button>
            </form>
        </div>
    </h3>
    <h3>
        <div th:if="${order.getOrderStatus().getId()} eq '1' or ${order.getOrderStatus().getId()} eq '2' or ${order.getOrderStatus().getId()} eq '7'">
            <form th:method="POST" th:action="@{/orders/cancel}">
                <input type="hidden" name="order" th:value="${order.getId()}">
                <input type="hidden" name="status" th:value="6">
                <input type="hidden" name="car" th:value="${order.getCar().getId()}">
                <input type="hidden" name="carStatus" th:value="1">
                <button>Cancel the order</button>
            </form>
        </div>
    </h3>
    <p/>
    <h3>
        <center>
            <a th:href="@{/users/account}"> Back to account
            </a>
            <a th:href="@{/}"> To main page </a>
        </center>
    </h3>
</main>
</body>
</html>