<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity5">
<head>
    <meta charset="UTF-8">
    <title>New user page</title>
    <link href="/style/style.css" rel="stylesheet">
</head>
<body>
<header>
    <h1>
        <center> Car rental for every day </center>
    </h1>
    <center> <img src="/images/header.jpg"/> </center>
    <h3>
        <div align="right">
            <a sec:authorize="!isAuthenticated()" th:href="@{/login}">Login</a>
        </div>
    </h3>
</header>
<h3>
    <main>
        <p th:if="${usernameAlreadyExist}" style="color:red" th:text="${usernameAlreadyExist}"></p>
        <form th:method="POST" th:action="@{/users/registration}" th:object="${user}">
            <label for="username"> Enter username: </label>
            <input type="text" th:field="*{username}" id="username">
            <div style="color:red" th:if="${#fields.hasErrors('username')}" th:errors="*{username}">Username error</div>
            <p/>
            <label for="password"> Enter password: </label>
            <input type="password" th:field="*{password}" id="password"/>
            <div style="color:red" th:if="${#fields.hasErrors('password')}" th:errors="*{password}">Password error</div>
            <p/>
            <label for="firstname"> Enter firstname: </label>
            <input type="text" th:field="*{firstname}" id="firstname"/>
            <div style="color:red" th:if="${#fields.hasErrors('firstname')}" th:errors="*{firstname}">Firstname error</div>
            <p/>
            <label for="surname"> Enter surname: </label>
            <input type="text" th:field="*{surname}" id="surname"/>
            <div style="color:red" th:if="${#fields.hasErrors('surname')}" th:errors="*{surname}">Surname error</div>
            <p/>
            <label for="email"> Enter email: </label>
            <input type="email" th:field="*{email}" id="email"/>
            <div style="color:red" th:if="${#fields.hasErrors('email')}" th:errors="*{email}">email error</div>
            <p/>
            <label for="passportNumber"> Enter passport number: </label>
            <input type="text" th:field="*{passportNumber}" id="passportNumber"/>
            <div style="color:red" th:if="${#fields.hasErrors('passportNumber')}" th:errors="*{passportNumber}">Passport
                number error
            </div>
            <p/>
            <input type="submit" value="Create"/>
        </form>
        <p/>
       <center> <a th:href="@{/}"> To main page </a> </center>
    </main>
</h3>
</body>
</html>