<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity5">
<head>
    <meta charset="UTF-8">
    <title>Home page</title>
    <link href="style.css" rel="stylesheet">
</head>
<body>
<h1><b>Welcome to the car rental website</b></h1>
<h3>
    <div>
        <a th:href="@{/users/login}">Login</a>
    </div>
    <div>
        <a th:href="@{users/registration}">Create new user</a>
    </div>
    <div>
        <a href="/logout">Logout</a>
    </div>
    <div>
        <a th:href="@{/cars}"> Cars for selection </a>
    </div>
    <div>
        <a th:href="@{/users/account}"> User account </a>
    </div>
    <div>
        <p></p>
        <a th:href="@{/admin/orders?statusId=7}"> For admins </a>
    </div>
</h3>
</body>
</html>